html {

    scroll-behavior: smooth;

}

body {

    margin: 0px;
    padding: 0px;

    background: #292b2d;

    max-height: 100vh;

}

body::-webkit-scrollbar {

    width: 10px; 

}

body::-webkit-scrollbar-track {

    background: #212529;

}

body::-webkit-scrollbar-thumb {

    background-color: #292b2d;
    border-radius: 20px;

}

div {

    color: #ffffff;

}

.contents {

    position: fixed;
    top: 25%;
    left: 15%;

}

.main {

    width: 45vw;
    padding: .5em 1em;
    min-height: 5em;
    height: max-content;
    
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;

}

.element {

    width: 80%;

}

.body-text {

    width: 100%;
    text-align: justify;
    text-justify: inter-word;

}

.title {

    width: 100%;
    text-align: left;

}

.shape {

    width: .5rem;
    height: 1rem;
    background: white;

    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;

}

.hr {

    width: 100%;
    height: .2em;
    background: #212529;

}

.cv-download {

    text-decoration: none !important;

}

.cv-text {

    margin-bottom: 0px;
    color: white !important;

}

.card-link {

    color: gray;
    text-decoration: none;

}

.card-link:hover {

    cursor: pointer;
    color: gray;
    text-decoration: underline;

}